.myStyle{
    border: 10px dashed purple;
    border-radius: 25px;
    background-color: rgb(160, 77, 160);
    width: max-content;
    font-size: 10mm;
    padding: 0mm 10mm;
}
.color{
    background-color: rgb(194, 118, 194);
}
.letra{
    font-size: 10mm;
}
.title{
    color: purple;
    font-size: 20mm;
}